[submodule "pacman-ai-search"]
	path = pacman-ai-search
	url = git@github.com:rmodi6/pacman-ai-search.git
[submodule "pacman-ai-multiagent"]
	path = pacman-ai-multiagent
	url = git@github.com:rmodi6/pacman-ai-multiagent.git
[submodule "pacman-ai-ghostbusters"]
	path = pacman-ai-ghostbusters
	url = git@github.com:rmodi6/pacman-ai-ghostbusters.git
